<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px;box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-sunglasses"></i>
            <h3>back-end</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET core, SQL server
            </p>
            <p class="text-primary cabecera">
                experiencia
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET core MVC</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0;box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-sunglasses"></i>
            <h3>front-end</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET core, SQL server
            </p>
            <p class="text-primary cabecera">
                experiencia
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET core MVC</li>
            </ul>
        </div>
    </div>
</div>