@model Class

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model.nombre (@Model.edad)</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .net y javascript</h2>
    
    <img
    id="foto"
    src="~/images/foto.jpg" alt="Foto de Jeff" />
</div>
